body {
  background-color: #02c6c6;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #c4ffff;
}
.portofolio {
  background-color: #c4ffff;
  color: rgb(53, 53, 53);
  height: 1000px;
}
.myskills {
  background-color: #94fafa;
  justify-content: center;
}
